body {
    background-color: white;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax (120px, auto) repeat(5, 100px);
}

button {
    font-size: 2.5rem;
    border: 1px solid white;
    outline:none;
    background-color: rgb(238, 175, 175);
    padding: 15px;
}

button:hover {
    background-color: rgba(238, 175, 175, 0.815);
    cursor: pointer;
}

#span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(46, 43, 43);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 75px;
}

.output .previousOperand {
    color:rgb(219, 204, 204);
    font-size: 1.5rem;
}

.output .currentOperand {
    color: white;
    font-size: 2.5rem;
}

